.circle-percent {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  z-index: 10;
}

svg circle {
  width: 100%;
  fill: none;
  stroke: var(--loss-color);
  stroke-width: 15;
  stroke-linecap: round;
  transform: translate(7.5px, 7.5px);
}

svg circle:nth-child(2) {
  stroke: var(--won-color);
  transition: ease 1.5s;
}

.circle-percent__stats {
  position: absolute;
}

.circle-percent__percent {
  margin: auto;
  width: fit-content;
  margin-top: 10px;
  font-weight: bold;
  color: #393838;
}

.wins-losses {
  display: block;
  margin: auto;
  font-weight: normal;
  margin-top: 5px;
  width: fit-content;
}
